:root{
    font-family: Arial, Helvetica, sans-serif;
    /*aqui hi van les variables*/
}

*{
    /*aqui va el reset*/
    margin:0;
    padding:0;
    border: 0;
}

@font-face {
     /*aqui anirian les fonts personalitzades*/

}

/*aqui van propietats generals*/

body {
    background: white;
}

a:active{
}

a:visited {
    color:white ;
    
}

a:link{
    text-decoration: none;
    color: white;
}

a:hover{
    color:yellow;
    
}



.xarxes {
    height: 5rem;
    width:100%;
    
      
}

.logo {
    height: 5rem;
    width:5rem;
    background: pink;
    position: fixed;
}



li {
    color: black;
    float: left;
    margin: 30px;
    margin-top: 30px;
    list-style-type: none; 
}

.informacio{
    display: fle;
    float: left;
    padding-left: 0;
    margin-left:150px;
}


.contacto {
 
}
.instagram, .gmail, .linkedin {
   float:right;
}


li:hover{
    opacity: 50%;
}

.cap {
    height:500px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 100px;
    font-family:century-gothic;  
}

.iris{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: lihtgray;
    padding: 20px;
    box-sizing: border-box;
   
}

.iris p {
    text-align:justify;
    max-width: 500px;
    margin: 0;
    text-align-last: left;
    font-size: 20px;
    float: left;
}

.dibujo1 {
    height: 400px;
    width:407px; 
    background-repeat: no-repeat;
    background-color: ;  
    margin: 10px 80px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.dibujo1 img {
    width:100%;
    height: 100%;
    object-fit: contain;
}

.no-arrastable {
    width:200px;
    height: 200px;
    object-fit:cover;
    user-drag: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

.trabajos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: auto;
    margin-top: 30px;   
}

.item{
    background: black;
    padding: 20px;
    float: left;
    height:10rem;
    width:20rem;
    margin: auto;
    margin-top: 70px;


    color: white;
    font-family: century-gothic;
    font-size:30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contactos {
    height: 5rem;
    width:100%;
    background:black;
    margin-top:50px;
}

_______

/*html del adobexd*/
#adobexd{

}
/*html del after effects*/
#aftereffects {

}
/*html del illustrator*/
#illustrator{
    background-color: black;
}
/*html del indesign*/
#indesign{
    background-color: green;

}
/*html del photoshop*/
#photoshop{
    background-color: blue;

}
/*html del premiere*/
#premiere{
    background-color: pink;

}
/*html del web*/
#web{
    background-color: purple;

}
/*html del wordpress*/
#wordpress{
    background-color: orange;

}

/*aqui van les propietats responsives*/

@media (max-width:480px) {

}

@media (min-width:481px) and (max-width:1279px) {

}

@media (min-width:1280px) {
    body {
        backgrond: pink;
    }
}