:root{
    --color1: #FAE8EB;
    --color2: #F6CACA;
    --color3: #E4C2C6;
    --color4: #CD9FCC;
    --color5: #0A014F;
    --color6: #9A031E;
    --color7: #FFFFFF;

}


body {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align-last: center;
}

h1 {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
}

p {
    margin: 0px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.progres {
    height: 10px;
    background: skyblue;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    width: 100%;
    scale: 0 1;
    animation: analitzador linear;
    
    -webkit-animation-timeline: scroll();
     -moz-animation-timeline: scroll();
         animation-timeline: scroll();
}

@keyframes analitzador {
    to{
        scale: 1 1;
    }
}

@media (max-width:480px)
{
    body {
        background-color: var(--color6);
    }
}

@media (min-width:481px) and (max-width:1279px)
{
    body {
        background-color: var(--color7)
    }
}

@media (min-width:1280px)
{
    body {
        background-color: var(--color5);
    }
}

.rodona {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--color1);
    margin: auto;
}