body {margin: 0px;
    font-family: Arial, Helvetica, sans-serif;}

h1 {color: purple;
    text-align: center;
    text-shadow: 1px 1px 4px grey;}

.contenidor {width: 1280px;
            margin: auto;}

.cap {height: 120px;}

.cos {overflow: scroll;}

.peu {height: 300px;
        background-color: black;}

li {background-color: white;
    height: 50px; width: 180px;
    margin: 10px;
    float: left;}

.esquerra, .centre, .dreta {width: 20%; 
    float: left;}  

.esquerra {}

.centre {background-color: pink;
        width: 60%;
        height: 600px;
        overflow: scroll;
        color: white;}

.dreta {}

p {text-indent: 50px;
    padding: 15px;}   

