body {
    background-color: white;
}

.fulla {
    width: 100px;
    height: 100px;
    background: rgb(128, 7, 7);
    border-radius: 100% 0% 100% 0%;
    position: absolute;
    top: 50px;
    left: 150px;
    transform-origin: 0 100px;
    background-image: linear-gradient(rgb(128, 7,7), red);
}

.flor {
    width: 300px;
    height: 300px;
    position: relative;
    nimation: 2s rotacio linear infinite;
}

.f1 {
    transform: rotate(0deg);
}

.f2 {
    transform: rotate(60deg);
}

.f3 {
    transform: rotate(120deg);
}

.f4 {
    transform: rotate(180deg);
}

.f5 {
    transform: rotate(240deg);
}

.f6 {
    transform: rotate(300deg);
}

.cor {
    border-radius: 50%;
    width: 60px;
    height: 60px;   
    position:absolute;
    top: 120px;
    left:120px;
    background-image: radial-gradient(yellow, white);
}


@keyframes rotacio {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.tall {
    width: 20px;
    height: 300px;
    background: green;
    position: absolute;
    top: 150px;
    left: 150px;
    border-radius: 20px
}

.f7 {
    position:absolute;
    top:270px;
    left:150px;
    background: green;   
}

.conjunt:hover .flor {
    animation: 2s rotacio linear infinite;
}

.conjunt {
    width: 300px;
    height: 450px;
}
